body {
	font-size:15px;
	font-family: Trebuchet, Lucida, Georgia;
	line-height: 160%;
	background-color: #53A4F8;
}

.container{
	background-color: #fafafa;
	min-width: 900px;
	min-height: 700px;
	padding: 40px;
	border: #515151 10px solid;
	border-radius: 0px 0px 5px 5px;
}

a {
	color: #51A1F1;
	font-size: 130%;
}

h1, h2, h3, h4, h5 {
	text-shadow: black 2px 2px 2px;
	color: #53A4F8;
}

#flash{
	border-radius: 4px;
	color: #FBFCD0;
	margin: 15px;
	line-height: 200%;
	text-indent: 20px;
}

.alert {
	background-color: #FF4043;
}

.notice {
	background-color: #72A0EC;
}

ul {
	padding-right: 5px;
}

ul li {
	display: inline;
	list-style-type: none;
	margin-left: 7px;
}

form {
	border: solid 1px #53A4F8;
	border-radius: 3px;
}

form.button_to {
	border: none;
}

.inline-hints {
	color: grey;
	text-indent: 18px;
}

fieldset {
	border: solid #53A4F8 0px;
}

fieldset ol {
	list-style-type: none;
	line-height: 200%;
	font-size: 120%;
}

fieldset ol li label {
	margin: 7px;
}

fieldset ol li input {
	padding: 8px;
}

.answer {
	font-weight: bold;
	font-size: 130%;
}

nav.topbar {
	padding-top: 25px;
	position: relative;
	top: -58px;
	left: -50px;
	background-color: grey;
	min-width: 1040px;
	border: 5px solid #515151 ;
	text-align: right;
	line-height: 10%;
}

nav.topbar a {
	color: white;
}

.button, .create {
	background-color: #53A4F8;
	display: inline-block;
	padding: 3px 6px 4px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	display: inline;
	cursor: pointer;
	
}

.button_to_delete {
	background: #F71E50;
	display: inline-block;
	padding: 3px 6px 4px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	display: inline;
	left: -80px;
	top: -30px;
	cursor: pointer;
}

#poll_submit {
	background: #53A4F8;
	display: inline-block;
	padding: 10px 20px 16px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	display: inline;
	left: 200px;
	top: -30px;
	font-size: 130%;
	cursor: pointer;
}

.poller {
	font-size: 120%;
	text-indent: 30px;
}

.bigger {
	font-size: 140%;
	text-indent: 50px;
	line-height: 240%;
}

.polls {
	padding: 10px;
	margin: 10px;
}
