%h1 TweetPoll
- if current_user

	
	
- else

	%p.bigger Please log in to create new polls!


.polls
	%h2 Top 5 polls
	%ul
		- @polls.each do |poll|
			%li= link_to poll.title, "/poll/#{poll.cached_slug}"
			%ul.answers
				%br
				-poll.answers.each do |answer|
					%li.answer= answer.text
					%br
